

@mixin button-style($background-color) {
  @extend %button;
  text-transform: uppercase;
  background-color: $background-color;
  color: $color-text-hover;
  margin-bottom: 20px;
  justify-content: center;
}


@mixin grid-button-style($background-color) {
  @extend %button;
  background-color: $background-color;
  color: $color-grid-text;
  margin-bottom: 5px;
  padding-left: 10px;
  @media (min-width: $break-l) {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;

  }

}



//flexbox settings







//media queries
