

@mixin button-style($background-color) {
  @extend %button;
  text-transform: uppercase;
  background-color: $background-color;
  color: $color-text-hover;
  margin-bottom: 20px;
}


@mixin grid-button-style($background-color) {
  @extend %button;
  background-color: $background-color;
  color: $color-grid-text;
  margin-bottom: 5px;
  padding-left: 10px;
  margin-left: -15px;
  margin-right: 15px;
}


//flexbox settings







//media queries
