//links

%hover-color {
  color: $color-default;
  font-weight: bold;
}






//Images

%center {
    display: flex;
    justify-content: center;
  }

%framed-images {
  width: 100%;
  padding: 10px;
  width: 80%;
  height: 80%;
  border-width: thin;
  border-style: solid;
  border-color: rgba($color-pic-border, .8);
  @include desktop {
    width: 80%;
    height: 80%;
  }

}



//Nav items



%site-width {
    width: 90%;
}
