// Colors

$color-primary: #57e1c0;
$color-default: #51DDFC;
$color-text-hover: #FFF;

$color-pic-border: #dfdfdf;

$color-success: #62cc82;
$color-error: #e4757a;
$color-warning: #FD7856;
$color-info: #927bc0;

// Grid System Colors

$color-col-12: #80e8d1;
$color-col-6: #3fabca;
$color-col-4: #7ee6fd;
$color-col-3: #deb2ee;
$color-col-5: #89d9a0;
$color-col-7: #ec9fa2;
$color-col-8: #fd9f84;

$color-grid-text: #757575;


//fonts

//Google $font-stack
@import url('https://fonts.googleapis.com/css?family=Francois+One|Raleway');

$font-stack-normal: 'Raleway', sans-serif;
$font-stack-blurb: 'Francois One', sans-serif;






//breakpoints

$break-s: 480px;
$break-l: 1400px;
