

.grid__col--12 {
@extend %button-layout;
width: 100%;
@media (min-width: $break-l) {
  flex-basis: 100%;
  padding-top: 30px;
  justify-content: flex-start;
}
}


.grid__row {
@extend %button-layout;
@media (min-width: $break-l) {
  width:90%;
}
}


.btn--default {
  @include button-style($color-default);
}

.btn--success {
@include button-style($color-success);
}

.btn--error {
  @include button-style($color-error);
}

.btn--warning {
  @include button-style($color-warning);
}

.btn--info {
  @include button-style($color-info);
}

//Grid System buttons

.grid__col--12.theme__colors {
  @include grid-button-style($color-col-12);
}

.grid__col--6.theme__colors {
  @include grid-button-style($color-col-6);
}

.grid__col--4.theme__colors {
  @include grid-button-style($color-col-4);
}

.grid__col--3.theme__colors {
  @include grid-button-style($color-col-3);
}

.grid__col--5.theme__colors {
  @include grid-button-style($color-col-5);
}

.grid__col--7.theme__colors {
  @include grid-button-style($color-col-7);
  flex-basis: 50%;
}

.grid__col--8.theme__colors {
  @include grid-button-style($color-col-8);
  @media (min-width: $break-l) {
flex-grow: 2;
  }
}

.grid__col--3.theme__colors,
.grid__col--6.theme__colors,
.grid__col--12.theme__colors {
  justify-content: flex-start;
  @media (min-width: $break-l) {
    justify-content: center;
  }
}

.grid__col--7.theme__colors.centered {
  @media (min-width: $break-l) {
    flex-grow: .3;
  }
}
