
.grid__col--3,
.grid__col--6,
.grid__row {
@extend %center;
}

.img--frame {
  width: 100%;
  padding: 10px;
  width: 80%;
  height: 80%;
  border-width: thin;
  border-style: inset;
  border-color: rgb1($color-pic-border, .6);
}

.img--avatar {
  margin: auto;
  padding-top: 20px;
  justify-content: center;
}
