.grid__col--3 {
  @extend %center;
  @media (min-width: $break-l) {
    flex-basis: auto;
  }
}

.grid__col--6 {
  @extend %center;
  @media (min-width: $break-l) {
    flex-basis: 40%;
    justify-content: flex-start;
  }
}

.grid__row {
  @extend %center;
  @media (min-width: $break-l) {
  
  }
}

.img--logo {
  @media (min-width: $break-l) {
    margin-left: 70%;
  }
}

.img--frame {
  width: 100%;
  padding: 10px;
  width: 80%;
  height: 80%;
  border-width: thin;
  border-style: inset;
  border-color: rgb1($color-pic-border, .6);
  @media (min-width: $break-l) {
    width: 80%;
    height: 80%;
  }

}

.img--avatar {
  margin: auto;
padding-bottom: 30px;
  justify-content: center;
  @media (min-width: $break-l) {

    justify-content: flex-start;
  }
}
