//Navigation button layouts.

.nav {
  text-align: center;
  list-style-type: none;
  padding-left: 0;
  @include desktop {
    padding-left: 20%;
      padding-top: 40px;
      font-size: 1.2em;
  }
}

li {
@extend %button;
  background-color: white;
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

.nav__item {
  @include desktop {
    display: inline;
margin-left: 25px;


  }
}

.nav__item:hover {
  background-color: $color-primary;
  a {
    color: $color-text-hover;
  }
}

.headline--secondary {
  @extend %site-width;
  font-family: $font-stack-normal;
margin: auto;
}

p a {
  color: $color-default;
  font-weight: bold;
}

.card {
  @include desktop {
    display: inline-block;
width: 90%;
margin-right: 0;
  }
}

.grid__col--8 {
  @include desktop {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
  flex-grow: 0
  }
}
